{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container">
<div class="row">
    {% for service in services %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{ service.imageURL }}" />
        <div class="box-element product">
            <h6><strong>{{ service.name }}</strong></h6>
            <hr>
            <a href="{% url 'checkout' service.id %}" class="btn btn-outline-info add-btn take-order">Order this Service</a>
            <a class="btn btn-outline-success" href="{% url 'serviceview' service.slug %}">View</a>
            <p>{{ service.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock content %}