{% extends 'index.html' %} 
{% load static %} 
{% block title %}
Password Reset Complete 
{% endblock title %} 
{% block content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h4>Reset Password Completed</h4>
      <div>
              <iframe src="{% static 'images/complete1.gif' %}" width="500" height="300" frameborder="0" class="giphy-embed" allowFullScreen></iframe>

      </div>
    </div>
  </div>
</div>
{% endblock content %}
