{% load static %}
<link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <footer class="site-footer mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Home Services<br>Your Trusted Partner for hiring servicemens now online.<br>Easy, Fast and Secured</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Our Contact</h6>
            <ul class="footer-links">
              <li><i class="fas fa-map-marker-alt"></i>Kalanki,Kathmandu</li>
              <li><i class="fas fa-phone-volume"></i>+977 9876543210</li>
              <li><i class="far fa-envelope-open"></i>contact@homeservice.com</li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Legal Policy</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
         <a href="#">HomeService Inc</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>