{% extends 'admins/layout-admin.html' %}
{% load static %}
{% block title %}
<title>All products</title>
{% endblock %}


{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">All Services</h2><hr>
            <a class="btn btn-info px-2" href="{% url 'create_service' %}">Add New Service</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Service Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in allservice %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.description}}</td>
                        <td><img src="{{i.image.url}}" style="height: 60px;" alt=""></td>
                        <td>
                            <a href="{% url 'updateservice' i.id %}" class="btn btn-primary">Edit</a> &nbsp;
                            <a href="{% url 'deleteservice' i.id %}" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this service?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}