{% extends 'index.html' %}
{% load static %}
{% block title %}
Admin Dashboard
{% endblock title%}
{% block content %}
<style>
    .card-body a{
    text-decoration:none;
    color:#fff;
    }

    .card-body a:hover{
    color:orange;
    }
</style>
<div class="container">
    <h1></h1>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <h6 class="error_message py-3 px-1 my-2 text-center">{{message}}</h6>
    {% endif %}
    {% endfor %}
    <div class="row pt-3">
        <div class="col">
    <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
        <div class="card-header text-center">Total Service</div>
        <div class="card-body">
            <a href="{% url 'view_service' %}"><h1 class="card-title text-center">{{service}}</h1></a>

        </div>
    </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Orders</div>
                <div class="card-body">
                    <a href="{% url 'admin_servicemen_order' %}"><h1 class="card-title text-center">{{order}}</h1></a>

                </div>
            </div>
        </div>

    </div>
    <div class="row pt-2"> 
        <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Admins</div>
                <div class="card-body">
                    <a href="{% url 'show_user' %}"><h1 class="card-title text-center">{{admin}}</h1></a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">New Orders</div>
                <div class="card-body">
                    <a href="{% url 'admin_servicemen_neworder'%}"><h1 class="card-title text-center">{{new_order}}</h1></a>

                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2"> 
        <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Servicemen</div>
                <div class="card-body">
                    <a href="{% url 'admin_view_servicemen' %}"><h1 class="card-title text-center">{{servicemen}}</h1></a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Customers</div>
                <div class="card-body">
                    <a href="#"><h1 class="card-title text-center">{{customer}}</h1></a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}