{% extends 'index.html' %}
{% load static %}
{% block title %}
Admin Order
{% endblock title%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3 class="text-center">Order Detail</h3>
            <hr>
            <p><span class="font-weight-bold">Order ID: </span> #ORDER_{{ord_obj.id}}</p>
            <p><span class="font-weight-bold">Order Status: </span> {{ord_obj.status}}</p>
            <p><span class="font-weight-bold">Order On: </span> {{ord_obj.date_ordered}}({{ord_obj.date_ordered|timesince}} ago)</p>
            <p><span class="font-weight-bold">Customer Name: </span> {{ord_obj.customer.created_by.first_name}} {{ord_obj.customer.created_by.last_name}}</p>
            <p><span class="font-weight-bold">Service Required Address: </span>{{ord_obj.street}}, {{ord_obj.address}}</p>
            <p><span class="font-weight-bold">Contact Number: </span>{{ord_obj.customer.phone}}</p>

            <hr>
            <h5>Service: {{ord_obj.service.name}}</h5>
            <h5>Problem: {{ord_obj.description}}</h5>
            <h5>Servicemen: {{ord_obj.servicemen.created_by.first_name}} {{ord_obj.servicemen.created_by.last_name}}</h5>
            <hr>

            <form action="{% url 'admin_servicemen_orderstatus_change' ord_obj.id %}" method="POST">
                {% csrf_token %}
                <select name="status">
                    {% for i, j in allstatus %}
                    <option value="{{i}}" {% if i == ord_obj.status %}selected{% endif %}>{{j}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-info">Change</button>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}